@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Righteous&family=Skranji:wght@400;700&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    position: relative;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
<<<<<<< HEAD
    background-color: #fff; /* Añade posición relativa al contenedor padre */
=======
    background: url("img/fondo.webp") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; /* Añade posición relativa al contenedor padre */
>>>>>>> 9c7a85d (Agregue validación para que no vuelvan a iniciar sesión y ya hay una sesión iniciada y optimice las imágenes de fondo.)
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 100px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: -15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
<<<<<<< HEAD
    background-color: #5915c2;
    border-radius: 0 0 20px 20px;
=======
    background: url("img/fondo.webp") no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center; 
>>>>>>> 9c7a85d (Agregue validación para que no vuelvan a iniciar sesión y ya hay una sesión iniciada y optimice las imágenes de fondo.)
  }
  header a {
    text-decoration: none;
  }
  .logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
  }
  .navigation a.s {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    margin-left: 40px;
    font-family: "poppins", cursive;
  }
  .navigation a.s::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
    margin-bottom: 0;
    margin-bottom: 0;
  }
  .navigation a.s:hover::after {
    transform-origin: left;
    transform: scaleX(1);
  }
  /*Boton de iniio de sesion*/
  .navigation .btnLogin {
    width: 145px;
    height: 50px;
    background: transparent;
    backdrop-filter: blur(50px);
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-family: "poppins", cursive;
    font-weight: 700;
    margin-bottom: 1em;
    margin-left: 40px;
    transition: 0.5s;
  }
  .navigation .btnLogin:hover {
    background: #fff;
    color: #5915c2;
  }
/*Cuadro de formulario de datos*/
.productos-inicio {
  font-family: "poppins", cursive;
  position: relative;
  top: 100px;
  margin-bottom: 2em;
  margin-left: 2em;
  width: 85em;
  height: 10em;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
/* Estilos para la página vendedor.php */
.contenidoVendedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 100px;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  height: calc(100vh - 150px);
  overflow: hidden;
  padding-bottom: 20px;
  margin: 25px;
  flex-direction: column;
}
div.productos-inicio h1 {
  margin-top: 5px;
  margin-left: 1em;
}
.productos {
  display: flex;
  width: 85em;
  height: 8em;
}
div.productos img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}
div.productos img:hover {
  cursor: crosshair;
  width: 5em;
  opacity: 1;
  filter: contrast(120%);
}
#section-1{
  font-family: "poppins", cursive;
  margin: 100px;
}
#section-1 h1{
  font-size: 50px;
  color: #fff;
}
.parrafos {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 5px;
}
#section-1 p{
  color: #000;
  font-size: 20px;
}
#section-1 span{
  color: #464646;
}