@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Skranji:wght@400;700&family=Work+Sans:wght@100;200;300;400;600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body .w {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("img/fondo.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
/*Encabezado*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 100px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: -15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
}
header a {
  text-decoration: none;
}
.logo {
  font-size: 2em;
  color: #5b2c6f;
  user-select: none;
}
/*Botones del encabezado*/
nav{
  margin-bottom: -27px;
}
.navigation a.s {
  position: relative;
  font-size: 1.1em;
  color: black;
  text-decoration: none;
  font-weight: 700;
  margin-left: 40px;
  font-family: "Skranji", cursive;
}
.navigation a.s::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 3px;
  background: black;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.5s;
  margin-bottom: 0;
  margin-bottom: 0;
}
.navigation a.s:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}
/*Boton de inicio de sesión*/
.navigation .btnLogin {
  width: 145px;
  height: 50px;
  background: transparent;
  backdrop-filter: blur(50px);
  border: 2px solid black;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1em;
  color: black;
  font-family: "Skranji", cursive;
  font-weight: 700;
  margin-left: 40px;
  transition: 0.5s;
}
.navigation .btnLogin:hover {
  background: #fff;
  color: black;
}
/*Cuadro del fomulario de registro y login*/
.wrapper {
  font-family: "Skranji", cursive;
  position: relative;
  width: 400px;
  height: 440px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transform: scale(0);
  transition: transform 0.5s ease, height 0.2s ease;
}
.wrapper.active-popup {
  transform: scale(1);
}
/*Tamaño del cuadro de registro*/
.wrapper.active {
  height: 600px;
}
/*Espacio del contenido a mostrar en el formulario de registro y login*/
.wrapper .form-box {
  width: 100%;
  padding: 45px;
}
/*Espacio del contenido a mostrar en el formulario del login*/
.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
/*Espacio del contenido a mostrar en el formulario del login (JavaScrit)*/
.wrapper.active .form-box.login {
  transition: none;
  transform: translateX(-400px);
}
/*Espacio del contenido a mostrar en el formulario del registro*/
.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}
/*Espacio del contenido a mostrar en el formulario del registro (JavaScrit)*/
.wrapper.active .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}
/*Boton de cerrar del cuadro de registro y login*/
.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162938;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}
/*Estilo del titulo iniciar sesion y registro de los formularios*/
.form-box h2 {
  font-size: 2em;
  color: black;
  text-align: center;
}
/*Estilo de los DIV que encierran los input, span y label del formulario*/
.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
}
/*Estilo de los label del formulario*/
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: black;
  font-weight: 500;
  pointer-events: none;
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}
/*Estilo de los input del formulario*/
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: black;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
/*Estilo de los iconos que aparecen en el label del formulario*/
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #fff;
  line-height: 57px;
}
.remember-forgot {
  font-size: 0.9em;
  color: black;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a {
  color: black;
  text-decoration: none;
}
.remember-forgot a:hover {
  text-decoration: underline;
}
/*Boton del formulario*/
.btn {
  font-family: "Skranji", cursive;
  width: 100%;
  height: 45px;
  background: #5b2c6f;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}
.login-register {
  font-size: 0.9em;
  color: black;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}
.login-register p a {
  color: #5b2c6f;
  text-decoration: none;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}
section.r {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
#section-2 {
  background: url("img/2.png") no-repeat;
  background-size: cover;
  background-position: center;
}
#section-3 {
  background: url("img/3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}